* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  width: 364px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card .cardTop img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.cardTop {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.cardBot {
  width: 100%;
  background: #000000;
  padding: 20px;
}

.cardBot h2 {
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 15px;
}

.cardBot p {
  font-size: 12px;
  color: #fff;
}

.mark {
  display: inline-flex;
  gap: 10px;
  margin: 15px 0;
}

.mark span {
  font-size: 24px;
  color: #fff;
}

.price {
  gap: 5px;
}

.favBtn {
  padding: 8px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 8px;

  font-size: 18px;
}


.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.activeBtn {
  background-color: #1F86FF;
  color: white;
  border: none;
}

.cart {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min(500px);
  padding: 10px;
}

.cart .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px #c4c4c4;
  width: 100%;
  height: 50px;
  padding: 20px;
}

.cart .item .left, .cart .item .right, .right .counter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart .item img {
  width: 100px;
  height: 50px;
  object-fit: contain;
}